header {
  background: #bbbbbb;
}

.main-title {
  padding-left: 20px;
}

.box {
  position: relative;
  width: 940px;
  margin: 0 auto;
}

nav {
  position: absolute;
  top: 110px;
  right: 0;
}

nav li {
  display: inline;
  margin: 0 0 0 15px;
}

nav a {
  text-transform: uppercase;
  color: #000000;
  font-weight: bold;
  font-size: 22px;
  text-decoration: none;
}

nav a:hover {
  color: #c78c19;
  text-decoration: underline;
}

#banner {
  width: 100%;
  float: left;
  clear: none;
}

.main {
  background: #cccccc;
  padding: 30px;
  float: left;
  clear: none;
}

.centered-title {
  padding: 20px;
  text-align: center;
}

p {
  padding: 0 0 20px;
  text-align: center;
}

#mission {
  font-size: 20px;
}

em strong {
  color: #ff0000;
}

.items {
  font-style: italic;
}

#benefits {
  align-self: right;
  float: right;
}

.benefits {
  float: left;
  background: #ffffff;
  padding: 0 20px;
}

.benefits ul {
  display: inline-block;
  font-size: 15px;
  padding: 80px 0 0 80px;
  vertical-align: top;
  width: 20%;
  margin-right: 15%;
}

.benefits li {
  padding: 15px;
  font-size: large;
}

.benefits-image {
  width: 50%;
}

footer {
  text-align: center;
  background: url("img/bg.jpg");
  padding: 40px 0;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  margin: 20px 0 0;
}
