body, input {
  font-family: "Montserrat", sans-serif;
}

header {
  background: #FFAC00;
  
  padding: 20px 0;
}

.menu {
  /* background: rgb(95, 88, 88); */
  background: #e69900;
}

header, main {
  text-align: center;
}

h1 {
  font-size: 30px;
  padding: 10px;
  color: #ffffff;

}

header li {
  vertical-align: middle;
}

input {
  width: 105%;
  padding: 15px 0;
  margin: 0 0 20px;
  background: #bd7e00;
  color: white;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  transition: 0.4s all;
  cursor: pointer;
}

input:hover {
  background: #a76f00;
  /* opacity: 0.5; */
  transform: scale(1.1);
}

ul {
  max-width: fit-content;
  margin: 0 auto;
  padding: 20px 0;  
}

img {
  width: 100px;
  padding: 0 10px;
}

img + img {
  border-width: 0 0 0 1px;
  border-style: solid;
  border-color: #ffffff;
}

footer {
  text-align: center;
  color: #ffffff;
  background-color: #FFAC00;
  /* background: url("../img/bg.jpg"); */
  padding: 40px 0;
}

.copyright {
  color: #ffffff;
  font-size: 13px;
  margin: 20px 0 0;
}