table, td, th {
  border-style: groove;
}

td {
  vertical-align: text-top;
}

ul {
  list-style-type: decimal;
  padding: 0 0 0 30px;
}

li {
  padding: 0 20px 10px 0;
}

li:hover {
  background-color: lightgrey;
}